//imports
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

//colors
:root{
--Preto: #242424;
--Amarelo: #FCA60F;
--Marrom: #C95E20;
--White: #fff;
}

//fonts
:root{
    --Nunito: 'Nunito', sans-serif;
}